.checkoutProduct {
  display: flex;
  padding-top: 20px;

  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.checkoutProduct__image {
  height: 180px;
  width: 180px;
  object-fit: contain;

  flex: 0.2;
}

.checkoutProduct__info {
  padding-left: 20px;
  flex: 0.8;
}

.checkoutProduct__info__header {
  display: flex;
}

.checkoutProduct__info > button {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 3px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.9;
}

.checkoutProduct__info > button:hover {
  opacity: 1;
}

.checkoutProduct__title {
  flex: 0.8;
}
.checkoutProduct__title > p {
  color: #0066c0;
  font-size: 1em;
  font-weight: 800;
}

.checkoutProduct__title > small {
  color: #067d62;
}
.checkoutProduct__price {
  flex: 0.2;
  text-align: right;
  margin-right: 10px;
}
