.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 38px;
  /* padding: 10px; */
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  padding: 5px;
  height: 30px !important;
  width: 35px !important;
  background-color: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__nav a {
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.under__header {
  display: flex;
  flex-direction: row;
  background-color: #232f3e;
  height: 39px;
  color: white;
}

.under__header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.under__header__left > div > small {
  font-weight: 600;
  font-size: 12px;
}
.under__header__left > div > p {
  font-weight: 800;
  font-size: 15px;
  padding-bottom: 3px;
}
.under__header__middle {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.under__header__middle > li {
  list-style-type: none;
  padding: 0 20px 0 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.under__header__right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: lighter;
  padding-right: 30px;
}
